.admin-attributes{
    .attributes {
        display: flex;
        flex-wrap: wrap;
        > div {
            padding: 5px;
            width: 100%;
            .custom-checkbox {
                background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.207 4.793a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0l-2-2a1 1 0 011.414-1.414L6.5 9.086l4.293-4.293a1 1 0 011.414 0z'/%3e%3c/svg%3e");
                background-size: 100% 100%;
                background-position: center;
                background-repeat: no-repeat;
                appearance: none;
                display: inline-block;
                vertical-align: middle;
                background-origin: border-box;
                padding: 0;
                user-select: none;
                flex-shrink: 0;
                cursor: pointer;
                background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.207 4.793a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0l-2-2a1 1 0 011.414-1.414L6.5 9.086l4.293-4.293a1 1 0 011.414 0z'/%3e%3c/svg%3e");
                width: 20px;
                height: 20px;
                appearance: none;
                transition: background-color 0.3s ease-in-out;
                border: 1px solid var(--soft-grey);
              }
          
              .custom-checkbox:checked {
                background-color: var(--primary-color);
              }
          
            label {
                font-size: 13.3px;
                color: var(--grey);
            }
            span {
                padding: 0px 10px;
                width: 36px;
                display: inline-block;
                i{
                    font-size: 16px;
                    color: var(--primary-color);
                }
            }
        }
        @media screen and (min-width: 768px){
            > div {
                width: 50%;
            }
        }

        @media screen and (min-width: 1024px){
            > div {
                width: 25%;
            }
        }
    }
}