.formRegister {
    height: calc(100vh - 55px);
    padding-top: 82px;
    position: relative;
    min-height: 705px;
    background-color: #F9F9F9;
    .container{
        position: absolute;
        transform: translate(-50%, -44%);
        top: 50%;
        left: 50%;
        display: flex;
        flex-direction: column;
        width: 80%;
        max-width: 360px;
        .reserva-alert{
            display: flex;
            background-color: rgba(255, 0, 0, 0.1);
            border-radius: 8px;
            align-items: center;
            padding: 24px 16px;
            margin-bottom: 12px;
            justify-content: center;
            i{
                color: #B00020;
                font-size: 28px;
                padding-right: 14px;
            }
            p {
                color: #B00020;
                font-size: 14px;
            }
        }
        h1{
            color: var(--primary-color);
            font-size: 24px;
            text-align: center;
        }
        form {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            width: 100%;
            > div {
                width: 100%;
                position: relative;
                span{
                    cursor: pointer;
                    position: absolute;
                    right: 8px;
                    bottom: 8px;
                    i{
                        font-size: 20px;
                        color: #607D8B;
                    }
                }
            }

            label{
                font-size: 12px;
                margin: 20px 0px 10px 0px;
                display: block;
            }

            input{
                background-color: var(--white);
                color: var(--black);
                height: 40px;
                box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.15);
                border-radius: 5px;
                width: 100%;
                max-height: 448px;
                padding-left: 13px;
                outline: none;
                font-family: 'Quicksand', sans-serif;
            }

            button{
                background-color: var(--primary-color);
                color: var(--white);
                font-weight: 700;
                box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.12);
                margin: 0 auto;
                width: 100%;
                max-width: 448px;
                padding: 13px;
                font-size: 16px;
                border-radius: 8px;
                margin-top: 48px;
                cursor: pointer;
            }
            .error-message {
                color: red;
                align-self: flex-end;
                margin-top: 5px;
                text-align: end;
            }
            p{
                margin-top: 7px;
                font-size: 12px;
                align-self: center;
            }
        }
    }

    @media screen and (min-width: 768px){
        padding-top: 82px;
        height: calc(100vh - 98px);
    }

    @media screen and (min-width: 1024px){
        .container{ 
            max-width: 448px;
            h1{
                color: var(--primary-color);
                font-size: 24px;
                text-align: center;
                margin-bottom: 12px;
            }
            form {
                .name-lastname {
                    display: flex;
                    width: 100%;
                    justify-content: space-between;
                    div {
                        width: 48%;
                    }
                }
                button {
                    max-width: 206px;
                }
                p {
                    margin-top: 18px;
                }
            }
        }

    }
}