@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;700&display=swap');

:root{
    --primary-color: #F0572D;
    --grey: #31363F;
    --black: #191B1D;
    --soft-grey: #DFE4EA;
    --white: #FFF;
    --background-grey: #EBEBEE;
}