.product-description {
    padding: 10px 10px 15px 10px;
    .product-content {
        max-width: 1300px;
        margin: 0 auto;
        h1 {
            padding: 12px 0px 15px 0px;
        }
        
    }
}